# Database
DATABASE_URL="file:./dev.db"

# Gemini AI
GEMINI_API_KEY=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""